@using Orchard.Utility.Extensions;
@using Orchard.Mvc.Html;
@using Orchard.Mvc.Extensions;

@using (Script.Foot())
{
    <script src="https://www.microsoftTranslator.com/ajax/v3/WidgetV3.ashx?siteData=ueOIGRSKkd965FeEGM5JtQ**" type="text/javascript"></script>
    <script type="text/javascript">
        // Include the UserVoice JavaScript SDK (only needed once on a page)
        UserVoice = window.UserVoice || [];
        (function () {
            var uv = document.createElement('script');
            uv.type = 'text/javascript';
            uv.async = true;
            uv.src = '//widget.uservoice.com/6hW5Um5EzZ19G4o8yxeEw.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(uv, s)
        })();

        UserVoice.push(['set', {
            // Options can also be set on specific widgets instead of globally
            target: 'self', // 'none' for toaster popups, #id for a specific element on the page
            accent_color: '#004b50', // Widget accent color
            locale: 'en', // Defaults to your account’s localization
        }]);

        UserVoice.push(['addTrigger', '#general-inquiry-link', {
            mode: 'contact',
            position: 'top',
            // Customize widget text
            // (see documentation for all options)
            strings: {
                // Contact form
                contact_title: 'General inquiry',
                contact_message_placeholder: 'Give feedback or ask for help',
                contact_skip_instant_answers_button: 'Skip and send message',
                contact_details_title: 'Additional details',
                contact_submit_button: 'Send message',
                contact_success_title: 'Message sent!',
                contact_success_body: 'We’ll be in touch.'
            }
        }]);

        UserVoice.push(['addTrigger', '#report-abuse-link', {
            mode: 'contact',
            ticket_custom_fields: {
                'Custom Widget': 'Abuse'
            },

            // Customize widget text
            // (see documentation for all options)
            strings: {
                // Contact form
                contact_title: 'Report abuse',
                contact_message_placeholder: 'Whats going on?',
                contact_skip_instant_answers_button: 'Skip and send message',
                contact_details_title: 'Additional details',
                contact_submit_button: 'Send message',
                contact_success_title: 'Message sent!',
                contact_success_body: 'We’ll be in touch.'
            }
        }]);

        function fillList(listOfLanguages) {
            var ddlLangs = document.getElementById('langs');
            var box = document.getElementById("translator_box");
            for (var key in listOfLanguages) {
                $(ddlLangs).append('<li value="' + listOfLanguages[key].Code + '">' + listOfLanguages[key].Name + '</li>');
                $(box).append("<a href='javascript:tranlateto(\"" + listOfLanguages[key].Code + "\",\"" + listOfLanguages[key].Name + "\");'>" + listOfLanguages[key].Name + "</a>");
            }
        }

        var isfirst = true;

        var layoutHeader = $("#layout-header").outerHeight();

        function getlayoutheaderheight() {
            if (window.innerWidth < 768) {
                return 0;
            }
            return $("#layout-header").css('display') !== 'none' ? layoutHeader : 0;
        }


        function tranlateto(lang, text) {
            $("#dropdonwicon").removeClass('select');

            $('#translator_box').hide();

            if ('en' === lang) {
                $('#showOrigin').hide();
            }
            else {
                $('#showOrigin').show();
            }

            if (isfirst) {
                $("#layout-wrapper").prepend($("#translatorwidget_tmp").clone().prop('id', 'translatorwidget').show());
                isfirst = false;
            } else {
                $("#translatorwidget").show();
            }

            var consValue = $("#translatorwidget").outerHeight();

            var moveHeight = $('#translatorwidget').length > 0 ? ($("#translatorwidget").css('display') !== 'none' ? consValue : 0) : 0;

            if (window.scrollY >= 350) {
                $("#layout-header").hide();
            }

            $("#layout-header").css("margin-top", moveHeight);
            $("#layout-navigation").css("margin-top", consValue + getlayoutheaderheight());
            $(".hero-banner-container").css('margin-top', consValue + getlayoutheaderheight() + $("#layout-navigation").outerHeight() - 48);

            Microsoft.Translator.Widget.Translate('en', lang,
                function (value) {

                },
                function (err) {
                    tranlateto(lang, text);
                },
                function (result) {
                    $("#translatorwidget").attr('dir', 'ltr');
                },
                function (revert) {

                }, 30000);

            $(".translateresult").text(text);

        }

        function showtransbox() {
            $('#translator_box').toggle();
            $("#dropdonwicon").addClass('select');
            $("#translator_box").focus();
        }

        function showcontainer() {
            $(".transwidgetcontainer").show().focus();
        }

        $(document).ready(function () {
            fillList(Microsoft.Translator.Widget.GetLanguagesForTranslateLocalized());

            $("#langs").on('click', 'li', function (e) {
                e.stopPropagation(); $(".transwidgetcontainer").hide();
                tranlateto($(this).attr('value'), $(this).text());
            });

            $(".transwidgetcontainer").blur(function () {
                $(this).hide();
            });

            $("#translator_box").blur(function () {
                setTimeout(function () {
                    $("#translator_box").hide();
                    $("#dropdonwicon").removeClass('select');
                }, 200);
            });
            $("#layout-wrapper").on('click', '.close', function () {
                tranlateto('en', 'English');
                $("#translatorwidget").hide();
                $('#translator_box').hide();
                if (window.scrollY >= 350) {
                    $("#layout-header").hide();
                    $("#layout-navigation").css("margin-top", "0px");
                }
                else {
                    $("#layout-header").css("margin-top", "0px");
                    $("#layout-navigation").css("margin-top", $("#layout-header").outerHeight());
                    $(".dropdown-menu").css("top", "150px");
                }
                $(".hero-banner-container").css('margin-top', getlayoutheaderheight() + $("#layout-navigation").outerHeight() - 48);

            });
        });
    </script>
}
<div id='translatorwidget_tmp' translate="no" style="display:none;">
    <div class="row">
        <div class="col-md-3 text-right translate-widget">
            <img class="text--xs" src="@Url.Content("/cognitive-services/Themes/CognitiveServices/Images/footer/translate-icon.jpg")" />
            <span class="text--xs text--white translated">
                Translated to
            </span>
            <a href="javascript:showtransbox();" class="translateresult text--xs text--black" style="text-decoration:underline !important;">English</a>
            <span class="text--xs" id="dropdonwicon">
                <i class="glyphicon glyphicon-menu-down" style="font-size: 12px;"></i>
            </span>
        </div>
        <div class="col-md-3 translated-by">
            <span style="color:white;" class="text--xs">by</span>
            <span class="text--black text--xs">
                <a href="https://www.microsoft.com/translator" target="_blank">Microsoft Translator</a>
            </span>
        </div>
        <div class="col-md-6 show-original">
            <div class="close">×</div>
            <button class="text--xs" id="showOrigin" type="button" onclick="tranlateto('en','English')">Show original</button>
        </div>
    </div>
</div>
<div id="translator_box" translate="no" tabindex="1"></div>

<div class="container-fluid footer-container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 class="text--semilight text--black">About</h4>
                <div class="text--light text--black text--xs">
                    <a href="@HC("/blog")" id="gaNews" class="text--xxs text--semilight text--medgrey">
                        @T("Blog")
                    </a>
                </div> 
            </div>
            <div class="col-md-3">
                <h4 class="text--semilight text--black">Know before you code</h4>
                <div class="text--light text--black text--xs">
                    <a href="https://go.microsoft.com/fwlink/?LinkId=533207" target="_blank" onclick="trackOutboundLink('https://go.microsoft.com/fwlink/?LinkId=533207')" class="text--xxs text--semilight text--medgrey" style="white-space:nowrap">Microsoft Cognitive Services Terms</a>
                </div>
                <div class="text--light text--black text--xs">
                    <a href="http://go.microsoft.com/fwlink/?LinkId=698895" onclick="trackOutboundLink('http://go.microsoft.com/fwlink/?LinkId=698895')" target="_blank" class="text--xxs text--semilight text--medgrey">
                        @T("Developer Code of Conduct")
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <h4 class="text--semilight text--black">Help & support</h4>
                <div class="text--light text--black text--xs">
                    <a href="https://stackoverflow.com/questions/tagged/microsoft-cognitive" onclick="trackOutboundLink('https://stackoverflow.com/questions/tagged/microsoft-cognitive')" target="_blank" class="text--xxs text--semilight text--black">
                        @T("Stack Overflow")
                    </a>
                </div>
                <div class="text--light text--black text--xs">
                    <a href="https://cognitive.uservoice.com/" onclick="trackOutboundLink('https://cognitive.uservoice.com/')" target="_blank" class="text--xxs text--semilight text--medgrey">
                        @T("Support")
                    </a>
                </div>
                <div class="text--light text--black text--xs">
                    <a href="#" id="general-inquiry-link" class="text--xxs text--semilight text--medgrey" style="white-space:nowrap" onclick="ga('send', 'event', 'userVoice', 'contactUs', 'footer');">@T("Contact us")</a>
                </div>
            </div>
            <div class="col-md-3">
                <h4 class="text--semilight text--black">Go social</h4>
                <div style="margin-top:20px;">
                    <a href="https://www.facebook.com/Microsoft/?fref=ts" onclick="trackOutboundLink('https://www.facebook.com');" target="_blank" class="text--xxs text--semilight text--medgrey" style="display: inline-block;height: 32px;">
                        <i class="fa text--black" style="font-size:32px;float: left;">
                            <img src="@Url.Content("/cognitive-services/Themes/CognitiveServices/Images/footer/facebook-icon.jpg")" />
                        </i>
                        <span style="float: left;margin-left: 10px;" class="text--xxs text--semilight text--black">Facebook</span>
                    </a>
                </div>
                <div style="margin-top:20px;">
                    <a href="https://twitter.com/search?q=%22Microsoft%20Cognitive%20Services%22%20OR%20%22Project%20Oxford%22&src=typd" class="text--xxs text--semilight text--medgrey" onclick="trackOutboundLink('https://www.twitter.com');" target="_blank" style="display: inline-block;height: 32px;">
                        <i class="fa text--black" style="font-size:32px;float: left;">
                            <img src="@Url.Content("/cognitive-services/Themes/CognitiveServices/Images/footer/twitter-icon.jpg")" />
                        </i>
                        <span style="float: left;margin-left: 10px;" class="text--xxs text--semilight text--black">Twitter</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row" style="margin:50px  -15px;">                            
                            <div class="col-sm-12 col-xs-12">
                                <div style="cursor:pointer;display:inline-block;" onclick="showcontainer()">
                                    <span class="glyphicon " style="margin-right:10px;">
                                        <img src="@Url.Content("/cognitive-services/Themes/CognitiveServices/Images/footer/translate-icon.jpg")" />
                                    </span>
                                    <div class="transwidgetcontainer" tabindex="1">
                                        <div class="text--black text--xxs" translate="no">Select your language</div>
                                        <ul id="langs" translate="no"></ul>
                                        <div class="translateresult translateresult-teal text--black text--xs">English</div>
                                    </div>
                                    <a href="javascript:;" id="btnTranslate" style="position: relative; top: 3px;" translate="no" class="text--xxs text--semilight text--medgrey">Translate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 text-lg-right">
                <h4 class="text--xxs text--semilight text--black footer-links">
                    <a href="http://go.microsoft.com/fwlink/?LinkId=521839" onclick="trackOutboundLink('http://go.microsoft.com/fwlink/?LinkId=521839')" target="_blank" class="text--xxs text--semilight text--medgrey">
                        @T("Privacy & Cookies")
                    </a>
                </h4>
                <h4 class="text--xxs text--semilight text--black footer-links">
                    <a href="https://go.microsoft.com/fwlink/?LinkID=206977" onclick="trackOutboundLink('https://go.microsoft.com/fwlink/?LinkID=206977')" target="_blank" class="text--xxs text--semilight text--medgrey">
                        @T("Website Terms of Use")
                    </a>
                </h4>
                <h4 class="text--xxs text--semilight text--black footer-links">
                    <a href="https://go.microsoft.com/?linkid=9851308" onclick="trackOutboundLink('https://go.microsoft.com/?linkid=9851308')" target="_blank" class="text--xxs text--semilight text--medgrey">
                        @T("Trademarks")
                    </a>
                </h4>
                <h4 class="text--xxs text--semilight text--black footer-links">
                    <a id="report-abuse-link" href="#" onclick="ga('send', 'event', 'userVoice', 'reportAbuse', 'reportAbuse');" class="text--xxs text--semilight text--medgrey  uv-btn-trigger">
                        @T("Report Abuse")
                    </a>
                </h4>
                <h4 class="text--xxs text--semilight text--black footer-links">
                    ©2016 Microsoft
                </h4>
            </div>
        </div>
    </div>
</div>
